body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2c3e50;
    color: #ecf0f1; 
}

.main {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #34495e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.task-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ecf0f1;
    color: #2c3e50; 
}

.task-input button {
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.task-input button:hover {
    background-color: #219456;
    transform: scale(1.05);
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #50556b;
    transition: background-color 0.2s;
}
 
.task-list li:last-child {
    border-bottom: none;
} 

.delete {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.delete:hover {
    background-color: #c0392b;
}

header {
    font-family:'Times New Roman', Times, serif;
    background: linear-gradient(45deg, #3498db, #e74c3c, #2ecc71, #e67e22);
    background-size: 100% 100%;
    animation: gradientAnimation 15s ease infinite;
    color:silver;
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
